<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Name"
                    name="name" 
                    value="<%= book.name %>"
                    required>
                </div>

                

                  <div class="form-group">
                    <label for="studentIdTextField">Student Id</label>
                    <input type="text" class="form-control"
                    id="studentIdTextField"
                    placeholder="Enter the Student Id"
                    name="studentId" 
                    value="<%= book.studentId %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="programTextField">Program</label>
                    <input type="text" class="form-control"
                    id="programTextField"
                    placeholder="Enter the Programs"
                    name="program" 
                    value="<%= book.program %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="startTextField">Start Date</label>
                    <input type="text" class="form-control"
                    id="startTextField"
                    placeholder="Enter the Start Date(yy-mm-dd)"
                    name="start" 
                    value="<%= book.start %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="endTextField">End Date</label>
                    <input type="text" class="form-control"
                    id="endTextField"
                    placeholder="Enter the End Date(yy-mm-dd)"
                    name="end" 
                    value="<%= book.end %>"
                    required>
                </div>

               

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>