<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1>Education Course Evaluation</h1>
            <a>Welcome to Team Se7en's survey site. You, as a user, can create, update, and delete a survey of your own.</a><br><br>
            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/book-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i>Add User List</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-1">Name</th>
                        
                        <th class="text-center col-2">Student Id</th>  
                        <th class="text-center col-2">Programs</th>   
                        <th class="text-center col-2">Start Date</th> 
                        <th class="text-center col-2">End Date</th>    
                         
                        
                    <% } else { %>
                        <th class="text-center col-1">Name</th>
                        
                        <th class="text-center col-2">Student Id</th>   
                         <th class="text-center col-2">Programs</th>  
                        <th class="text-center col-2">Start Date</th> 
                        <th class="text-center col-2">End Date</th>
                         
                      
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-1"><%= BookList[count].name %></td>                          
                             <td class="text-center col-2"><%= BookList[count].studentId %></td>
                             <td class="text-center col-2"><%= BookList[count].program %></td>
                             <td class="text-center col-2"><%= BookList[count].start %></td>
                             <td class="text-center col-2"><%= BookList[count].end %></td>

                             <td class="text-center col-1">
                                <a href="/book-list/take" class="btn btn-primary btn-sm">
                                 <i class="fas fa-user-edit"></i> Take Survey</a>
                            </td>
                                    
                            <td class="text-center col-1">
                                <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit User</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete Survey</a>
                            </td>
                         <% } else { %>
                            <td class="text-center col-1"><%= BookList[count].name %></td>
                            <td class="text-center col-2"><%= BookList[count].studentId %></td>
                            <td class="text-center col-2"><%= BookList[count].program %></td>
                            <td class="text-center col-2"><%= BookList[count].start %></td>
                            <td class="text-center col-2"><%= BookList[count].end %></td>
                            
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
 
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





