<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
   <div align="center"><img src="Assets/images/logo.png" height="200" width="200" alt="" ></div>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>
 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




